/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    color: #526066;
    font-family: 'open sans';
    background-color: #8BB946;
}

h2, h3 {
    letter-spacing: 0.25em;
    text-transform: uppercase;
    font-weight: 600;
}

p {
    line-height: 1.6em;
}


/*
 * -- Layout Styles --
 */
.l-content {
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 100px;
}

/*
 * -- MENU STYLES --
 * Make the menu have a very faint box-shadow.
 */
.pure-menu {
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}


/*
 * -- BANNER --
 * The top banner with the headings. By using a combination
 * of `display: table;` and `display: table-cell;`, we can
 * vertically center the text.
 */
.banner {
    background: transparent url('http://24.media.tumblr.com/ccb268832580ac12951828a1c179de69/tumblr_mo2xbk8JUK1st5lhmo1_1280.jpg') 0 0 no-repeat fixed;
    text-align: center;
    background-size: cover;
    height: 250px;
    width: 100%;
    margin-bottom: 3em;
    display: table;
    background-color: #74A52A;
}

    .banner-head {
        display: table-cell;
        vertical-align: middle;
        margin-bottom: 0;
        font-size: 3em;
        color: white;
        font-weight: 100;
        text-shadow: 0 1px 11px #3B6F0C;
    }

.footer {
    margin-top: 100px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgba(70, 70, 70, 0.8);
    color: #999999;
    text-align: center;
    padding: 10px 10px;
}
    .footer a {
        color: #ddd;
    }

a, a:hover {
    text-decoration: none;
}

/*
 * -- TABLET MEDIA QUERIES --
 * On tablets, we want to slightly adjust the size of the banner
 * text and add some vertical space between the various pricing tables
 */
@media(max-width: 767px) {

    .banner-head {
        font-size: 3em;
    }
    .pricing-table {
        margin-bottom: 2em;
    }

}

/*
 * -- PHONE MEDIA QUERIES --
 * On phones, we want to reduce the height and font-size of the banner further
 */
@media (max-width: 480px) {
    .banner {
        height: 200px;
    }
    .banner-head {
        font-size: 2em;
    }
}

.pure-menu li a:hover, .pure-menu li a:focus {
background: #EBFCD2;
}

.pure-g-r {
    letter-spacing: 0em;
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'open sans';
}

.pure-g-r ul {
    list-style-type: none;
    width: 100%;
}

.pure-g-r li {
    background-color: #EBFCD2;
    margin-top: 5px;
    height: 30px;
    width: 100%;
    padding: 20px 20px 10px 25px;
    /* padding-left: 30px; */
}